body {
    margin: 0;
    display: flex;
}

.form {
    margin: 80px auto;
    background-color: coral;
    padding: 50px;
    border-radius: 50px;
    height: 275px;
}

.form__textInput {
    padding: 3px 10px;
    border-radius: 10px;
    border: none;
}

.form__button {
    padding: 5px 15px;
    background-color: gainsboro;
    border: none;
    border-radius: 5px;
}

.form__range {
    position: relative;
    top: 4px;
}

input {
    margin: 10px 5px;
}

button {
    margin: 10px;
}

.listContainer {
    width: 40vw;
    margin: 5vw auto;
    background-color: coral;
    padding: 50px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__item {
    padding: 20px;
    border-radius: 20px;
    color: coral;
}

li {
    list-style-type: none;
    margin: auto 10px;
    width: 70px;
    text-align: center;
}

ul {
    display: flex;
}

ul button {
    border: none;
    background-color: gainsboro;
    border-radius: 5px;
    padding: 5px 10px;
}